@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cousagi";
  src: url("/assets/fonts/Cousagi-Font.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Italic-VariableFont_opsz,wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/SourceCodePro-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/SourceCodePro-Italic-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-family: Cousagi, Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

.blog-post-card-content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13em;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #0000 0%, #080808 100%);
  pointer-events: none;
}

@layer base {
  html {
    @apply bg-primary;
    @apply text-neutral-100;
  }
}

.stars-divider {
  background-image: url("/assets/animated/bluestarribbon.gif");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}
